<head>
  <title>bibioteka</title>
  <base href="/">
</head>

<header>
  <div class="box">
    <a>KOD: </a>
      <input type="password" #input [ngModel]="textValue" (ngModelChange)="checkValue($event)">
  </div>
  <div class="clock">
    <p>{{date}} {{time}}</p>  
  </div>
</header>



<!-- <app-special class="box" [class.visibility]="specialEvent.isVisible" [class.component]="!specialEvent.isVisible"></app-special> -->

<!-- 
<nav>
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/special/biblioteka" routerLinkActive="active">special</a>
</nav> -->
<app-text class="box" [class.visibility]="plainText.isVisible" [class.component]="!plainText.isVisible" [text]="textValue"></app-text>
<router-outlet></router-outlet>